/.cph
/.vscode
/01test
/1
/1.c
/1.cpp
/11
/11.cpp
/2
/2.c
/2.cpp
/2a
/2b.c
/3
/3.cpp
/4
/4.c
/4.cpp
/5
/5.cpp
/6
/6.cpp
/7
/7.cpp
/8
/8.cpp
/a.out
/file.txt
/h1
/h1.c
/h21
/h21.c
/h22
/h22.c
/h22a.c
/h2p1
/h2p1.c
/h2p2
/h2p2.c
/h31.c
/h3p1
/h3p1.c
/inferosumprob.cpp
/l2p1
/l2p1.c
/l2p2
/l2p2.c
/l2p3.c
/l3p1
/l3p1.c
/l3p2.c
/l3p3
/l3p3.c
/l4p1.c
/l4p21.c
/l4p22
/l4p22.c
/l4p3
/l4p3.c
/l5p1.c
/l5p2.c
/l61
/l61.c
/l61a
/l61a.c
/l62a
/l62a.c
/l62b
/l62b.c
/l63
/l63.c
/l6p1
/l6p1.c
/l6p21
/l6p21.c
/l6p22
/l6p22.c
/l6p3
/l6p3.c
/l7.c
/l7p1
/l7p1.c
/l7p2
/l7p2.c
/l7p3
/l7p3.c
/l8
/l8.c
/l8new
/l8new.c
/l9.c
/l9p1.c
/l9p2
/l9p2.c
/mergeSort.cpp
/newfile.c
/quickSort.cpp
/runtest.cpp
/struct
/tempCodeRunnerFile.cpp
/test
/test.c
/testcode
/testcode.cpp
/testdel.c
/testing
/testing.c
/testing1.c